<h2>Product Details</h2>

<hr/>
<div style="text-align: left" *ngIf="product">
  <div>
    <img
      class="img-thumbnail .img-responsive .flex-items"
      src="{{product.image}}"
      style="height:300px;width:300px;"
    />
  </div>
  <div>
    <label><b>Product Name: </b></label> {{product.title}}
  </div>
  <div>
    <label><b>Category : </b></label> {{product.category}}
  </div>
  <div>
    <label><b>Product Price: </b></label> {{product.price}}
  </div>
  <div>
    <label><b>Product Description: </b></label> {{product.description}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left"
       viewBox="0 0 16 16">
    <path fill-rule="evenodd"
          d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
  </svg>
  Back to Products List
</button><br>
